## Deliverable 2. Create a Customer Travel Destinations Map.

In [68]:
# Dependencies and Setup
import pandas as pd
import requests
import json
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [69]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,WeatherDesc,Date
0,0,Kavieng,-2.5744,150.7967,85.12,68,98,9.04,PG,overcast clouds,2022-03-13 00:58:05
1,1,Daoukro,7.0591,-3.9631,74.25,90,100,2.95,CI,overcast clouds,2022-03-13 00:58:05
2,2,Ponta Do Sol,32.6667,-17.1000,66.06,81,99,8.97,PT,overcast clouds,2022-03-13 00:58:05
3,3,Upernavik,72.7868,-56.1549,-16.80,99,95,9.71,GL,overcast clouds,2022-03-13 00:58:06
4,4,Faanui,-16.4833,-151.7500,81.70,70,100,10.92,PF,overcast clouds,2022-03-13 00:49:48

In [72]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter min temperature"))
max_temp = float(input("Enter max temperature"))

Enter min temperature40
Enter max temperature100

In [73]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City_ID      416 non-null    int64
 1   City         416 non-null    object
 2   Lat          416 non-null    float64
 3   Lng          416 non-null    float64
 4   Max Temp     416 non-null    float64
 5   Humidity     416 non-null    int64
 6   Cloudiness   416 non-null    int64
 7   Wind Speed   416 non-null    float64
 8   Country      413 non-null    object
 9   WeatherDesc  416 non-null    object
 10  Date         416 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 35.9+ KB

In [75]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
vacation_city_df = city_data_df.loc[(city_data_df['Max Temp']<max_temp) & (city_data_df['Max Temp']> min_temp)]
vacation_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,WeatherDesc,Date
0,0,Kavieng,-2.5744,150.7967,85.12,68,98,9.04,PG,overcast clouds,2022-03-13 00:58:05
1,1,Daoukro,7.0591,-3.9631,74.25,90,100,2.95,CI,overcast clouds,2022-03-13 00:58:05
2,2,Ponta Do Sol,32.6667,-17.1000,66.06,81,99,8.97,PT,overcast clouds,2022-03-13 00:58:05
4,4,Faanui,-16.4833,-151.7500,81.70,70,100,10.92,PF,overcast clouds,2022-03-13 00:49:48
5,5,Cidreira,-30.1811,-50.2056,70.57,67,100,8.86,BR,overcast clouds,2022-03-13 00:58:06
...,...,...,...,...,...,...,...,...,...,...,...
407,407,Coatepec,19.4500,-96.9667,51.31,78,100,2.46,MX,overcast clouds,2022-03-13 01:06:11
408,408,Gambela,8.2500,34.5833,80.85,52,100,5.23,ET,overcast clouds,2022-03-13 01:08:13
409,409,Bethlehem,-1.4558,-48.5044,78.84,83,0,8.05,BR,clear sky,2022-03-13 01:08:13
412,412,Te Anau,-45.4167,167.7167,64.15,51,0,3.04,NZ,clear sky,2022-03-13 01:08:14
413,413,Geraldton,-28.7667,114.6000,75.61,64,68,9.22,AU,broken clouds,2022-03-13 01:08:15

In [76]:
# 4a. Determine if there are any empty rows.
vacation_city_df.isnull()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,WeatherDesc,Date
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
407,False,False,False,False,False,False,False,False,False,False,False
408,False,False,False,False,False,False,False,False,False,False,False
409,False,False,False,False,False,False,False,False,False,False,False
412,False,False,False,False,False,False,False,False,False,False,False
413,False,False,False,False,False,False,False,False,False,False,False

In [77]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
vacation_city_df = vacation_city_df.dropna()
vacation_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,WeatherDesc,Date
0,0,Kavieng,-2.5744,150.7967,85.12,68,98,9.04,PG,overcast clouds,2022-03-13 00:58:05
1,1,Daoukro,7.0591,-3.9631,74.25,90,100,2.95,CI,overcast clouds,2022-03-13 00:58:05
2,2,Ponta Do Sol,32.6667,-17.1000,66.06,81,99,8.97,PT,overcast clouds,2022-03-13 00:58:05
4,4,Faanui,-16.4833,-151.7500,81.70,70,100,10.92,PF,overcast clouds,2022-03-13 00:49:48
5,5,Cidreira,-30.1811,-50.2056,70.57,67,100,8.86,BR,overcast clouds,2022-03-13 00:58:06
...,...,...,...,...,...,...,...,...,...,...,...
407,407,Coatepec,19.4500,-96.9667,51.31,78,100,2.46,MX,overcast clouds,2022-03-13 01:06:11
408,408,Gambela,8.2500,34.5833,80.85,52,100,5.23,ET,overcast clouds,2022-03-13 01:08:13
409,409,Bethlehem,-1.4558,-48.5044,78.84,83,0,8.05,BR,clear sky,2022-03-13 01:08:13
412,412,Te Anau,-45.4167,167.7167,64.15,51,0,3.04,NZ,clear sky,2022-03-13 01:08:14
413,413,Geraldton,-28.7667,114.6000,75.61,64,68,9.22,AU,broken clouds,2022-03-13 01:08:15

In [78]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vacation_city_df[["City", "Country", "Max Temp", "WeatherDesc", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["HotelName"] = pd.NaT
hotel_df.head(10)

,City,Country,Max Temp,WeatherDesc,Lat,Lng,HotelName
0,Kavieng,PG,85.12,overcast clouds,-2.5744,150.7967,NaT
1,Daoukro,CI,74.25,overcast clouds,7.0591,-3.9631,NaT
2,Ponta Do Sol,PT,66.06,overcast clouds,32.6667,-17.1000,NaT
4,Faanui,PF,81.70,overcast clouds,-16.4833,-151.7500,NaT
5,Cidreira,BR,70.57,overcast clouds,-30.1811,-50.2056,NaT
6,Puerto Ayora,EC,76.55,clear sky,-0.7393,-90.3518,NaT
7,Cape Town,ZA,65.12,clear sky,-33.9258,18.4232,NaT
9,Hilo,US,78.24,clear sky,19.7297,-155.0900,NaT
12,Busselton,AU,72.48,scattered clouds,-33.6500,115.3333,NaT
17,New Norfolk,AU,71.89,clear sky,-42.7826,147.0587,NaT

In [79]:
# 6a. Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


# 6b. Iterate through the hotel DataFrame.
for i, city in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    loc_parms= f"{city['Lat']},{city['Lng']}"
    print(f"Retrieving Hotel Data for {i}: {city['City']}")
    print(loc_parms)
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # use locationbias  circle:radius@lat,lng
    params = {
    "location":loc_parms,  
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    }

    # 6e. Make request and retrieve the JSON data from the search. 
    response = requests.get(base_url, params=params)
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    results = response.json()
    #print(results)
    try:
        hotel_name=results["results"][0]["name"]
        hotel_df.loc[i, "HotelName"] = hotel_name
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Hotel Data for 0: Kavieng
-2.5744,150.7967
------------
Retrieving Hotel Data for 1: Daoukro
7.0591,-3.9631
------------
Retrieving Hotel Data for 2: Ponta Do Sol
32.6667,-17.1
------------
Retrieving Hotel Data for 4: Faanui
-16.4833,-151.75
------------
Retrieving Hotel Data for 5: Cidreira
-30.1811,-50.2056
------------
Retrieving Hotel Data for 6: Puerto Ayora
-0.7393,-90.3518
------------
Retrieving Hotel Data for 7: Cape Town
-33.9258,18.4232
------------
Retrieving Hotel Data for 9: Hilo
19.7297,-155.09
------------
Retrieving Hotel Data for 12: Busselton
-33.65,115.3333
------------
Retrieving Hotel Data for 17: New Norfolk
-42.7826,147.0587
------------
Retrieving Hotel Data for 18: Punta Arenas
-53.15,-70.9167
------------
Retrieving Hotel Data for 19: Torbay
47.6666,-52.7314
------------
Retrieving Hotel Data for 20: Rikitea
-23.1203,-134.9692
------------
Retrieving Hotel Data for 21: Namatanai
-3.6667,152.4333
------------
Retrieving Hotel Data for 22: Kudahuvadhoo
2.6708,72.8944
------------
Retrieving Hotel Data for 23: Dzaoudzi
-12.7887,45.2699
------------
Retrieving Hotel Data for 24: Komsomolskiy
40.4272,71.7189
------------
Retrieving Hotel Data for 25: Shakiso
5.75,38.9167
------------
Retrieving Hotel Data for 27: Kapaa
22.0752,-159.319
------------
Retrieving Hotel Data for 29: Hermanus
-34.4187,19.2345
------------
Retrieving Hotel Data for 31: Itarema
-2.9248,-39.9167
------------
Retrieving Hotel Data for 32: Nhulunbuy
-12.2333,136.7667
------------
Retrieving Hotel Data for 33: Ushuaia
-54.8,-68.3
------------
Retrieving Hotel Data for 34: Avarua
-21.2078,-159.775
------------
Retrieving Hotel Data for 35: Marsala
37.7966,12.4352
------------
Retrieving Hotel Data for 36: Fortuna
40.5982,-124.1573
------------
Retrieving Hotel Data for 37: Hoa Binh
20.8133,105.3383
------------
Retrieving Hotel Data for 39: Kahului
20.8947,-156.47
------------
Retrieving Hotel Data for 40: Broken Hill
-31.95,141.4333
------------
Retrieving Hotel Data for 41: Atuona
-9.8,-139.0333
------------
Retrieving Hotel Data for 42: Imbituba
-28.24,-48.6703
------------
Retrieving Hotel Data for 43: Vila Velha
-20.3297,-40.2925
------------
Retrieving Hotel Data for 44: Cabo San Lucas
22.8909,-109.9124
------------
Retrieving Hotel Data for 46: Butaritari
3.0707,172.7902
------------
Retrieving Hotel Data for 48: Port Lincoln
-34.7333,135.8667
------------
Retrieving Hotel Data for 50: Sainte-Ode
50.0262,5.5254
------------
Retrieving Hotel Data for 51: Kodiak
57.79,-152.4072
------------
Retrieving Hotel Data for 53: Chuy
-33.6971,-53.4616
------------
Retrieving Hotel Data for 54: Georgetown
5.4112,100.3354
------------
Retrieving Hotel Data for 55: Ahipara
-35.1667,173.1667
------------
Retrieving Hotel Data for 57: Mataura
-46.1927,168.8643
------------
Retrieving Hotel Data for 58: Saint George
37.1041,-113.5841
------------
Retrieving Hotel Data for 62: Humberto De Campos
-2.5983,-43.4611
------------
Retrieving Hotel Data for 64: Shunyi
40.125,116.6453
------------
Retrieving Hotel Data for 67: Gazanjyk
39.2446,55.5154
------------
Retrieving Hotel Data for 68: Nioro
13.35,-15.75
Missing field/result... skipping.
------------
Retrieving Hotel Data for 70: Jimenez
28.3333,-105.4
------------
Retrieving Hotel Data for 72: Hobart
-42.8794,147.3294
------------
Retrieving Hotel Data for 73: Norsup
-16.0667,167.3833
------------
Retrieving Hotel Data for 74: Saldanha
-33.0117,17.9442
------------
Retrieving Hotel Data for 75: Klaksvik
62.2266,-6.589
------------
Retrieving Hotel Data for 76: Airai
-8.9266,125.4092
Missing field/result... skipping.
------------
Retrieving Hotel Data for 78: Raudeberg
61.9875,5.1352
------------
Retrieving Hotel Data for 79: Namibe
-15.1961,12.1522
------------
Retrieving Hotel Data for 81: Yulara
-25.2406,130.9889
------------
Retrieving Hotel Data for 82: Malindi
-3.2175,40.1191
------------
Retrieving Hotel Data for 83: Vila Franca Do Campo
37.7167,-25.4333
------------
Retrieving Hotel Data for 84: Junnar
19.2,73.8833
------------
Retrieving Hotel Data for 85: Yarada
17.65,83.2667
------------
Retrieving Hotel Data for 87: Trincomalee
8.5711,81.2335
------------
Retrieving Hotel Data for 88: Cockburn Town
21.4612,-71.1419
------------
Retrieving Hotel Data for 92: Charters Towers
-20.1,146.2667
------------
Retrieving Hotel Data for 93: Acarau
-2.8856,-40.12
------------
Retrieving Hotel Data for 94: Port Blair
11.6667,92.75
------------
Retrieving Hotel Data for 95: Bathsheba
13.2167,-59.5167
------------
Retrieving Hotel Data for 96: Vaini
-21.2,-175.2
------------
Retrieving Hotel Data for 97: Esperance
-33.8667,121.9
------------
Retrieving Hotel Data for 104: Kaitangata
-46.2817,169.8464
------------
Retrieving Hotel Data for 105: Sur
22.5667,59.5289
------------
Retrieving Hotel Data for 106: Cordoba
-31.4135,-64.1811
------------
Retrieving Hotel Data for 107: Amapa
1.0,-52.0
Missing field/result... skipping.
------------
Retrieving Hotel Data for 108: Saint-Philippe
-21.3585,55.7679
------------
Retrieving Hotel Data for 110: Port Alfred
-33.5906,26.891
------------
Retrieving Hotel Data for 111: Chicama
-7.8447,-79.1469
------------
Retrieving Hotel Data for 112: Mount Gambier
-37.8333,140.7667
------------
Retrieving Hotel Data for 113: Nahrin
36.0649,69.1334
Missing field/result... skipping.
------------
Retrieving Hotel Data for 115: Port Keats
-14.25,129.55
------------
Retrieving Hotel Data for 116: San Joaquin
37.9333,-121.3011
------------
Retrieving Hotel Data for 117: Hithadhoo
-0.6,73.0833
------------
Retrieving Hotel Data for 120: Carnarvon
-24.8667,113.6333
------------
Retrieving Hotel Data for 122: Sabang
5.8933,95.3214
------------
Retrieving Hotel Data for 123: East London
-33.0153,27.9116
------------
Retrieving Hotel Data for 124: Metro
-5.1131,105.3067
------------
Retrieving Hotel Data for 126: Huaibei
33.9744,116.7917
------------
Retrieving Hotel Data for 127: Graaff-Reinet
-32.2522,24.5308
------------
Retrieving Hotel Data for 128: Robore
-18.3333,-59.75
------------
Retrieving Hotel Data for 129: San Carlos De Bariloche
-41.1456,-71.3082
------------
Retrieving Hotel Data for 130: Portland
45.5234,-122.6762
------------
Retrieving Hotel Data for 131: Wollongong
-34.4333,150.8833
------------
Retrieving Hotel Data for 132: Bluff
-46.6,168.3333
------------
Retrieving Hotel Data for 133: Adrar
20.5022,-10.0711
Missing field/result... skipping.
------------
Retrieving Hotel Data for 135: Samarai
-10.6167,150.6667
------------
Retrieving Hotel Data for 136: Vero Beach
27.6386,-80.3973
------------
Retrieving Hotel Data for 137: Korla
41.7597,86.1469
------------
Retrieving Hotel Data for 138: Bargi
22.9833,79.8667
------------
Retrieving Hotel Data for 139: Toucheng
24.8592,121.8233
------------
Retrieving Hotel Data for 140: Fare
-16.7,-151.0167
------------
Retrieving Hotel Data for 141: Mahebourg
-20.4081,57.7
------------
Retrieving Hotel Data for 142: Katsuura
35.1333,140.3
------------
Retrieving Hotel Data for 143: Lebu
-37.6167,-73.65
------------
Retrieving Hotel Data for 144: Shingu
33.7333,135.9833
------------
Retrieving Hotel Data for 146: North Bend
43.4065,-124.2243
------------
Retrieving Hotel Data for 147: Tura
25.5198,90.2201
------------
Retrieving Hotel Data for 148: Aswan
24.0934,32.907
------------
Retrieving Hotel Data for 151: Mar Del Plata
-38.0023,-57.5575
------------
Retrieving Hotel Data for 152: Hasaki
35.7333,140.8333
------------
Retrieving Hotel Data for 153: Saint Pete Beach
27.7253,-82.7412
------------
Retrieving Hotel Data for 155: Grand Gaube
-20.0064,57.6608
------------
Retrieving Hotel Data for 157: Mangrol
21.1167,70.1167
------------
Retrieving Hotel Data for 159: Poum
-20.2333,164.0167
Missing field/result... skipping.
------------
Retrieving Hotel Data for 160: Port Elizabeth
-33.918,25.5701
------------
Retrieving Hotel Data for 161: Vao
-22.6667,167.4833
------------
Retrieving Hotel Data for 162: Atocha
-20.9333,-66.2333
------------
Retrieving Hotel Data for 163: Newport
51.5877,-2.9984
------------
Retrieving Hotel Data for 164: Lorengau
-2.0226,147.2712
------------
Retrieving Hotel Data for 165: Bredasdorp
-34.5322,20.0403

------------
Retrieving Hotel Data for 167: Muros
42.7762,-9.0603
------------
Retrieving Hotel Data for 168: Cap-Aux-Meules
47.3821,-61.8597
------------
Retrieving Hotel Data for 170: Alofi
-19.0595,-169.9187
------------
Retrieving Hotel Data for 171: Codrington
-38.2667,141.9667
------------
Retrieving Hotel Data for 172: Victoria
22.2855,114.1577
------------
Retrieving Hotel Data for 173: Pittsburg
38.028,-121.8847
------------
Retrieving Hotel Data for 174: Taguatinga
-12.3857,-46.5711
Missing field/result... skipping.
------------
Retrieving Hotel Data for 175: Araure
9.5601,-69.2148
------------
Retrieving Hotel Data for 176: Luanda
-8.8368,13.2343
------------
Retrieving Hotel Data for 177: Praia
14.9215,-23.5087
------------
Retrieving Hotel Data for 178: Jiayuguan
39.8167,98.3
------------
Retrieving Hotel Data for 181: Bengkulu
-3.8004,102.2655
------------
Retrieving Hotel Data for 183: Matara
5.9485,80.5353
------------
Retrieving Hotel Data for 184: Dunedin
-45.8742,170.5036
------------
Retrieving Hotel Data for 185: Homer
59.6425,-151.5483
------------
Retrieving Hotel Data for 187: Denpasar
-8.65,115.2167
------------
Retrieving Hotel Data for 188: Thinadhoo
0.5333,72.9333
Missing field/result... skipping.
------------
Retrieving Hotel Data for 189: Los Llanos De Aridane
28.6585,-17.9182
------------
Retrieving Hotel Data for 190: Gazli
40.1333,63.45
Missing field/result... skipping.
------------
Retrieving Hotel Data for 191: Surt
31.2089,16.5887
------------
Retrieving Hotel Data for 192: Castro
-24.7911,-50.0119
------------
Retrieving Hotel Data for 193: Waingapu
-9.6567,120.2641
------------
Retrieving Hotel Data for 194: Ewa Beach
21.3156,-158.0072
------------
Retrieving Hotel Data for 195: Emerald
-23.5333,148.1667
------------
Retrieving Hotel Data for 196: Colares
38.7992,-9.4469
------------
Retrieving Hotel Data for 197: Mitsamiouli
-11.3847,43.2844
------------
Retrieving Hotel Data for 199: Wanaka
-44.7,169.15
------------
Retrieving Hotel Data for 200: Nago
26.5881,127.9761
------------
Retrieving Hotel Data for 201: Guayaramerin
-10.8368,-65.3614
------------
Retrieving Hotel Data for 208: Bambous Virieux
-20.3428,57.7575
------------
Retrieving Hotel Data for 209: Lata
40.1629,-8.3327
------------
Retrieving Hotel Data for 210: Necochea
-38.5473,-58.7368
------------
Retrieving Hotel Data for 211: Belmonte
-15.8631,-38.8828
------------
Retrieving Hotel Data for 212: Dargaville
-35.9333,173.8833
------------
Retrieving Hotel Data for 213: Punta Gorda
26.9298,-82.0454
------------
Retrieving Hotel Data for 214: Nandigama
16.7833,80.3
------------
Retrieving Hotel Data for 215: Wewak
-3.5534,143.6268
------------
Retrieving Hotel Data for 216: Kununurra
-15.7667,128.7333
------------
Retrieving Hotel Data for 217: Zaraza
9.3503,-65.3245
------------
Retrieving Hotel Data for 218: Veraval
20.9,70.3667
------------
Retrieving Hotel Data for 219: Ouesso
1.6136,16.0517
------------
Retrieving Hotel Data for 221: Haverfordwest
51.8017,-4.9691
------------
Retrieving Hotel Data for 222: Dingle
10.9995,122.6711
------------
Retrieving Hotel Data for 224: Coquimbo
-29.9533,-71.3436
------------
Retrieving Hotel Data for 225: Ribeira Grande
38.5167,-28.7
------------
Retrieving Hotel Data for 226: Paka
4.6374,103.4368
------------
Retrieving Hotel Data for 228: Constantine
36.365,6.6147
------------
Retrieving Hotel Data for 233: Dezful
32.3811,48.4058
------------
Retrieving Hotel Data for 234: Hervey Bay
-25.2986,152.8535
------------
Retrieving Hotel Data for 235: Kruisfontein
-34.0033,24.7314
------------
Retrieving Hotel Data for 237: Marawi
7.9986,124.2928
------------
Retrieving Hotel Data for 239: Port-Gentil
-0.7193,8.7815
------------
Retrieving Hotel Data for 240: Carutapera
-1.195,-46.02
------------
Retrieving Hotel Data for 241: Maxixe
-23.8597,35.3472
------------
Retrieving Hotel Data for 242: Banikoara
11.2985,2.4386
------------
Retrieving Hotel Data for 243: Santa
17.486,120.4348
------------
Retrieving Hotel Data for 244: Waipawa
-41.4122,175.5153
------------
Retrieving Hotel Data for 246: Lodja
-3.4833,23.4333
Missing field/result... skipping.
------------
Retrieving Hotel Data for 247: Lompoc
34.6391,-120.4579
------------
Retrieving Hotel Data for 248: Copiapo
-27.3667,-70.3333
------------
Retrieving Hotel Data for 250: Galesong
-5.3166,119.3661
------------
Retrieving Hotel Data for 251: Pisco
-13.7,-76.2167
------------
Retrieving Hotel Data for 253: Lander
42.833,-108.7307
------------
Retrieving Hotel Data for 254: Ridgecrest
35.6225,-117.6709
------------
Retrieving Hotel Data for 256: Pimentel
-6.8367,-79.9342
------------
Retrieving Hotel Data for 257: Seoul
37.5683,126.9778
------------
Retrieving Hotel Data for 258: Filingue
14.3521,3.3168
Missing field/result... skipping.
------------
Retrieving Hotel Data for 259: Conakry
9.538,-13.6773
------------
Retrieving Hotel Data for 260: Wukari
7.85,9.7833
------------
Retrieving Hotel Data for 261: Puerto Leguizamo
-0.1934,-74.7819
------------
Retrieving Hotel Data for 262: Brae
60.3964,-1.353
------------
Retrieving Hotel Data for 263: Cayenne
4.9333,-52.3333
------------
Retrieving Hotel Data for 265: Moissala
8.3404,17.7663
Missing field/result... skipping.
------------
Retrieving Hotel Data for 266: Sokoto
13.0609,5.239
------------
Retrieving Hotel Data for 268: Souillac
-20.5167,57.5167
------------
Retrieving Hotel Data for 269: Skeldon
5.8833,-57.1333
------------
Retrieving Hotel Data for 270: Arraial Do Cabo
-22.9661,-42.0278
------------
Retrieving Hotel Data for 275: Baoding
38.8511,115.4903
------------
Retrieving Hotel Data for 277: Tessalit
20.1986,1.0114
Missing field/result... skipping.
------------
Retrieving Hotel Data for 278: San Patricio
28.017,-97.5169
------------
Retrieving Hotel Data for 281: Porbandar
21.6422,69.6093
------------
Retrieving Hotel Data for 282: Manakara
-22.1333,48.0167
------------
Retrieving Hotel Data for 284: Khipro
25.8285,69.3772
------------
Retrieving Hotel Data for 286: Lantawan
10.6167,123.9833
------------
Retrieving Hotel Data for 287: Shimoda
34.6667,138.95
------------
Retrieving Hotel Data for 289: Perth
-31.9333,115.8333
------------
Retrieving Hotel Data for 290: Kupang
-10.1667,123.5833
------------
Retrieving Hotel Data for 291: Bubaque
11.2833,-15.8333
------------
Retrieving Hotel Data for 292: Saquarema
-22.92,-42.5103
------------
Retrieving Hotel Data for 293: Diapaga
12.0708,1.7889
Missing field/result... skipping.
------------
Retrieving Hotel Data for 294: Lima
-12.0432,-77.0282
------------
Retrieving Hotel Data for 295: Fukuma
33.7667,130.4667
------------
Retrieving Hotel Data for 297: San Roque
36.2107,-5.3842
------------
Retrieving Hotel Data for 298: Margate
51.3813,1.3862
------------
Retrieving Hotel Data for 299: Auki
-8.7676,160.7034
------------
Retrieving Hotel Data for 300: Manaus
-3.1019,-60.025
------------
Retrieving Hotel Data for 301: Moindou
-21.6924,165.677
------------
Retrieving Hotel Data for 302: Villamontes
-21.25,-63.5
------------
Retrieving Hotel Data for 305: Bandarbeyla
9.4942,50.8122
------------
Retrieving Hotel Data for 306: Inhambane
-23.865,35.3833
------------
Retrieving Hotel Data for 308: Eyl
7.9803,49.8164
------------
Retrieving Hotel Data for 311: San Jose
37.3394,-121.895
------------
Retrieving Hotel Data for 312: Isangel
-19.55,169.2667
------------
Retrieving Hotel Data for 315: Sao Filipe
14.8961,-24.4956
------------
Retrieving Hotel Data for 316: Orocue
4.7912,-71.3354
------------
Retrieving Hotel Data for 320: Hammerfest
70.6634,23.6821
------------
Retrieving Hotel Data for 321: Prince Rupert
54.3161,-130.3201
------------
Retrieving Hotel Data for 323: Pitimbu
-7.4706,-34.8086
------------
Retrieving Hotel Data for 325: Kavaratti
10.5669,72.642
------------
Retrieving Hotel Data for 327: Sistranda
63.7256,8.834
------------
Retrieving Hotel Data for 328: Ambulu
-8.345,113.6058
------------
Retrieving Hotel Data for 331: Bhadrachalam
17.6667,80.8833
------------
Retrieving Hotel Data for 337: Bandar-E Lengeh
26.5579,54.8807
------------
Retrieving Hotel Data for 338: Ancud
-41.8697,-73.8203
------------
Retrieving Hotel Data for 342: San Vicente
-26.6167,-54.1333

------------
Retrieving Hotel Data for 344: Pathein
16.7833,94.7333
------------
Retrieving Hotel Data for 345: Biltine
14.5333,20.9167
------------
Retrieving Hotel Data for 346: Merauke
-8.4667,140.3333
Missing field/result... skipping.
------------
Retrieving Hotel Data for 347: Heze
35.2431,115.4411
------------
Retrieving Hotel Data for 348: Los Aquijes
-14.0967,-75.6908
------------
Retrieving Hotel Data for 352: Santa Rosa
14.3122,121.1114
------------
Retrieving Hotel Data for 353: Siavonga
-16.5382,28.7088
------------
Retrieving Hotel Data for 354: Saint-Leu
-21.15,55.2833
------------
Retrieving Hotel Data for 355: Simplicio Mendes
-7.8539,-41.9103
------------
Retrieving Hotel Data for 357: Muzaffarabad
34.37,73.4711
------------
Retrieving Hotel Data for 359: Myrtle Grove
30.421,-87.3075
------------
Retrieving Hotel Data for 360: Isa Khel
36.6702,68.8443
------------
Retrieving Hotel Data for 361: Kaeo
-35.1,173.7833
------------
Retrieving Hotel Data for 362: Buraydah
26.326,43.975
------------
Retrieving Hotel Data for 363: Campbell River
50.0163,-125.2446
------------
Retrieving Hotel Data for 364: Barcelona
41.3888,2.159
------------
Retrieving Hotel Data for 365: Narrabri
-30.3167,149.7833
------------
Retrieving Hotel Data for 366: Majene
-3.5403,118.9707
------------
Retrieving Hotel Data for 367: Victor Harbor
-35.5667,138.6167
------------
Retrieving Hotel Data for 369: Mahibadhoo
3.7833,72.9667
------------
Retrieving Hotel Data for 371: Tatawin
32.9297,10.4518
------------
Retrieving Hotel Data for 372: Ketchikan
55.3422,-131.6461
------------
Retrieving Hotel Data for 373: Quatre Cocos
-20.2078,57.7625
------------
Retrieving Hotel Data for 375: Marzuq
14.4,46.4667
Missing field/result... skipping.
------------
Retrieving Hotel Data for 376: Aguimes
27.9054,-15.4461
------------
Retrieving Hotel Data for 378: Langsa
4.4683,97.9683
------------
Retrieving Hotel Data for 379: Coahuayana
18.7333,-103.6833
------------
Retrieving Hotel Data for 382: Afua
-0.1567,-50.3867
------------
Retrieving Hotel Data for 383: Gao
16.6362,1.637
Missing field/result... skipping.
------------
Retrieving Hotel Data for 384: Aquiraz
-3.9014,-38.3911
------------
Retrieving Hotel Data for 385: Manokwari
-0.8667,134.0833
------------
Retrieving Hotel Data for 387: Gulod
14.3449,121.2177
------------
Retrieving Hotel Data for 388: Sungaipenuh
-2.0833,101.3833
------------
Retrieving Hotel Data for 389: Byron Bay
-28.65,153.6167
------------
Retrieving Hotel Data for 390: Taltal
-25.4,-70.4833
------------
Retrieving Hotel Data for 393: Mangla
31.8931,72.3817
------------
Retrieving Hotel Data for 394: Manggar
-2.8833,108.2667
------------
Retrieving Hotel Data for 397: Ixtapa
20.7,-105.2
------------
Retrieving Hotel Data for 398: Karratha
-20.7377,116.8463
------------
Retrieving Hotel Data for 399: Salalah
17.0151,54.0924
------------
Retrieving Hotel Data for 400: Hami
42.8,93.45
------------
Retrieving Hotel Data for 401: Chico
39.7285,-121.8375
------------
Retrieving Hotel Data for 403: Boke
10.9409,-14.2967
------------
Retrieving Hotel Data for 404: Guanica
17.9716,-66.908
------------
Retrieving Hotel Data for 405: Santander
43.4647,-3.8044
------------
Retrieving Hotel Data for 406: Kattivakkam
13.2167,80.3167
------------
Retrieving Hotel Data for 407: Coatepec
19.45,-96.9667
------------
Retrieving Hotel Data for 408: Gambela
8.25,34.5833
------------
Retrieving Hotel Data for 409: Bethlehem
-1.4558,-48.5044
------------
Retrieving Hotel Data for 412: Te Anau
-45.4167,167.7167
------------
Retrieving Hotel Data for 413: Geraldton
-28.7667,114.6
------------

In [61]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis=0, subset=['HotelName'])

In [62]:
# 8a. Create the output File (CSV)
import os
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [66]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
#  info_box_template provides user with details on the pin on a google map

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{HotelName}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{WeatherDesc} and {Max Temp} °F</dd>
</dl>
"""

#info_box_template = """
#<dl>
#<dt>CityName</dt><dd>{City}</dd>
#<dt>CountryCode</dt><dd>{Country}</dd>
#<dt>WeatherDesc</dt><dd>{WeatherDesc}</dd>
#<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
#</dl>
#"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [80]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure()

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))